.homebar {
    background-color: blanchedalmond;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
.homebar li a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

a:hover {
    background-color: darkred;
    transition: 0.2s;
}
.homebar * {
    display: inline;
}

.homebar li {
    margin: 80;
}

body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    font-family: sans-serif;
}

